* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}

body {
  font-family: sans-serif;
}

.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container button {
  border: 0;
  border-radius: 4px;
  background-color: #2c3e50;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container button:active {
  transform: scale(0.9);
}

.chart-container {
  width: 80%;
  height: 500px;
  position: relative;
  padding: 10px;
}

.chart {
  height: 100%;
  width: 100%;
  border: 2px solid #414141;
  border-right-width: 0;
  border-top-width: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.x-axis-label {
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.y-axis-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  font-weight: bold;
  margin-left: -10px;
}

.bar {
  flex: 1;
  position: relative;
}

.tooltip {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 4px;
  transform: translate(50%, -120%);
  opacity: 0;
  z-index: 2;
  transition: opacity 0.4s ease-in-out;
}

.bar:hover .tooltip {
  opacity: 1;
}
